@import './mixins/import';

$spinner-color: rgba(0, 0, 0, .5);

#loader {
    @include cover;
    transition: opacity .5s;
    opacity: 0;
    z-index: -1;

    .group {
        @include center;

        h2 {
            margin-bottom: 30px;
        }

        > .spinner {
            @include size(80px);
            animation: pulse .5s infinite;
            margin: auto;
        }
    }

    .spinner {
        @include size(60%);
        position: relative;
        border-radius: 50px;
        background: $spinner-color;

        > .spinner {
            @include position(absolute, 20% null null 20%);
        }
    }
}

.LOADING #loader,
.screen.OPEN:not(.READY) ~ #loader {
    opacity: 1;
    z-index: 0;
}
