@import 'center';
@import 'cover';

@mixin reveal {
    @include cover;
    transition: opacity .5s, z-index 0s .5s;
    opacity: 0;
    z-index: -1;

    li {
        @include center;
        transition: opacity .5s;
        opacity: 0;
        pointer-events: none;

        &.OPEN {
            opacity: 1;
            pointer-events: auto;
        }
    }

    .close-reveal {
        pointer-events: none;
    }

    &.OPEN {
        transition: opacity .5s, z-index 0s;
        opacity: 1;
        z-index: 1;

        .close-reveal {
            pointer-events: auto;
        }
    }
}
