@mixin sprite-transform($scale: 1.0, $align-y: top, $align-x: left) {

    position: absolute;
    $translateX: -50%;
    $translateY: -50%;

    @if ($align-y == top) {
        top: 50%;
    } @else {
        bottom: 50%;
        $translateY: 50%;
    }


    @if ($align-x == left) {
        left: 50%;
    } @else {
        right: 50%;
        $translateX: 50%;
    }

    transform: scale($scale) translateX($translateX) translateY($translateY);
    transform-origin: $align-y $align-x;
}
